@charset "UTF-8";

/***************************************/
/******                           ******/
/******         RESET CSS         ******/
/******                           ******/
/***************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************************************************************************************/
/*****************************************************************************************************************/
/******                                                                                                     ******/
/******                                  DEBUT STYLE CSS du Site CV éric coudert                            ******/
/******                                                                                                     ******/
/*****************************************************************************************************************/
/*****************************************************************************************************************/

body{
	font-family: 'Play', sans-serif;
}

/***************************************/
/******    FIN STYLE CLEARFIX     ******/
/***************************************/

.phantom{
	clear: both;
}

/***************************************/
/*****       STYLE CLEARFIX       ******/
/***************************************/


/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                  DEBUT STYLE CSS HEADER                  ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/



/***************************************/
/*****                            ******/
/*****       DEBUT STYLE CSS      ******/
/*****        BOUTON ADMIN        ******/
/*****                            ******/
/***************************************/

#linkConnexionAdmin a{
	transition: 0.7s;
}

#linkConnexionAdmin a:hover{
	color: #D738E2;
}

.btnAdmin{
	color: #D738E2;
}

/***************************************/
/*****                            ******/
/*****        FIN STYLE CSS       ******/
/*****         BOUTON ADMIN       ******/
/*****                            ******/
/***************************************/






/***************************************/
/*****                            ******/
/*****       DEBUT STYLE NAV      ******/
/*****                            ******/
/***************************************/

#linkConnexionAdmin:hover{
	color: #D738E2;
}

li{
	list-style-type: none;
	display: inline;
}

#navCenter .active{
	color: #D738E2;
}

#navCenter li a{
	color: #FFF;
	font-weight: bold;
	transition: 0.7s;
}

#navCenter li a:hover{
	color: #D738E2; 
}

/***************************************/
/*****                            ******/
/*****         FIN STYLE NAV      ******/
/*****                            ******/
/***************************************/





/***************************************/
/*****                            ******/
/*****       DEBUT STYLE CSS      ******/
/*****          DU TITRE          ******/
/*****        ERIC COUDERT        ******/
/*****        INTEGRATEUR         ******/
/*****        DEVELOPPEUR         ******/
/*****           junior           ******/
/*****                            ******/
/***************************************/


#titleBlock{
	padding-bottom: 100px;
}

#titleCenter{
	margin-left: 0px;
}

.titleXs{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	display: none;
}

h1{
	font-size: 1.7em;
	margin-top: 150px;
	margin-bottom: 30px;
}

#title{
	width: 700px;
	height: 200px;
	font-size: 1.05em;
	margin: 0 auto;
}

#titleContainer{
	padding-bottom: 200px;
}

#blockDateTime{
	padding-top: 10px;
}

.titleContent1{
	width: 555px;
	height: 60px;
	margin-left: 80px;
	margin-bottom: 5px;
}

.titleContent2{
	width: 555px;
	height: 60px;
	margin-left: 80px;
	margin-bottom: 5px;
}

.titleContent3{
	width: 555px;
	height: 60px;
	margin-left: 80px;
}


.black{
	width: 48px;
	height: 48px;
	/*border: 1px solid #000;*/
	transition: 0.2s linear;
	float: left;
	text-align: center;
	line-height: 48px;
}

.black:hover{
	width: 50px;
	height: 50px;
	background-color: #D738E2;
	border-radius: 25px;
}

.blackOut{
	width: 48px;
	height: 48px;
	/*border: 1px solid #000;*/
	/*background-color: #000;*/
	transition: 0.2s linear;
	float: left;
	text-align: center;
	line-height: 48px;
	color: #FFF;
}

#black{
	width: 48px;
	height: 48px;
	/*border: 1px solid #000;*/
	/*background-color: #000;*/
	transition: 0.2s linear;
	float: left;
	text-align: center;
	line-height: 48px;
	color: #FFF;
}

#black:hover{
	width: 50px;
	height: 50px;
	background-color: #D738E2;
	border-radius: 25px;
}

#white{
	width: 48px;
	height: 48px;
	/*border: 1px solid #000;*/
	/*background-color: #000;*/
	float: left;
	text-align: center;
	line-height: 48px;
	color: #FFF;
}

.junior{
	color: #42DCA3;
	font-weight: bold;
	text-align: center;
	margin-bottom: 70px;
	opacity: 0.8;
}

#btnFleche:hover{
	color: #FFF;
}

#pictoCircle{
	transition: 0.6s;
}

#pictoCircle:hover{
	border-color: #D738E2;
	color: #D738E2;
}

#blockIcone a{
	margin: 0px 10px;
}




/***************************************/
/*****                            ******/
/*****       FIN STYLE CSS        ******/
/*****          DU TITRE          ******/
/*****        ERIC COUDERT        ******/
/*****        INTEGRATEUR         ******/
/*****        DEVELOPPEUR         ******/
/*****           junior           ******/
/*****                            ******/
/***************************************/

#headerBackground{
	background-image: url('../img/imgMoon4.jpg');
	background-size: cover;
	background-position: center;
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                    FIN STYLE CSS HEADER                  ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/


.imgRoots{
	height: 180px;
	background-color: transparent;
	background-image: url('../img/imgBackgroundUnderEarth.png');
	background-repeat: repeat-x;
}

.imgRoots2{
	height: 180px;
	background-color: transparent;
	background-image: url('../img/imgBackgroundUnderEarth.jpg');
	background-repeat: repeat-x;
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                       DEBUT STYLE CSS                    ******/
/******                   SECTION COMPETENCES NUM                ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

#xpNum{
	padding: 0;
	background: transparent;
}

#xpNum h2{
	color: #D738E2;
	font-size: 2em;
	font-weight: bolder;
	margin-bottom: 20px;
}

h3{
	color: #D738E2;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 25px;
}

#titreFormation{
	color: #42DCA3;
}

.col-md-3 .col-sm-6{
	float: left;
}

.download-section{
	padding-top: 0px;
}

.download-section p{
	color: #FFF;
	font-size: 1.2em;
	margin: 15px auto;
}

#imgParallax{
	padding-top: 0px;
	padding-bottom: 0px;
	background: none;
}

.service-item{
	color: transparent;
	background-color: transparent;
}

.formation{
	float: left;
}

.pictoCv{
	color: #FFF;
	background-color: transparent;
}

.pictoStar{
	color: #42DCA3;
}

/*#circle{
	color: transparent;
	background-color: transparent;
}*/

.imgRoots2{
	height: 180px;
	background-color: transparent;
	background-image: url('../img/imgBackgroundUnderEarth2.png');
	background-repeat: repeat-x;
	background-position: bottom;
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                         FIN STYLE CSS                    ******/
/******                   SECTION COMPETENCES NUM                ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/













/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                       DEBUT STYLE CSS                    ******/
/******                      SECTION PORTFOLIO                   ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/


#portfolio{
	font-weight: bold;
	padding-top: 0;
}

#portfolioRow{
	padding-bottom: 50px;
	background-color: transparent;
}

#portfolio h2{
	padding-top: 50px;
	color: #D738E2;
	font-size: 2em;
	font-weight: bolder;
	margin-bottom: 50px;
}

#portfolio h3 a{
	color: #FFF;
	margin-bottom: 15px;
}

.imgPortfolio1{
	width: 450px;
	height: 300px;
	margin: 0 auto;
	border: 1px solid #42DCA3;
	background-image: url('../img/imgMoon4.jpg');
	background-size: cover;
	background-position: center;
}

.imgPortfolio2{
	width: 450px;
	height: 300px;
	margin: 0 auto;
	border: 1px solid #42DCA3;
	background-image: url('../img/logomusicol.jpg');
	background-size: cover;
	background-position: center;
}


/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                         FIN STYLE CSS                    ******/
/******                      SECTION PORTFOLIO                   ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/












/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                       DEBUT STYLE CSS                    ******/
/******                       SECTION A PROPOS                   ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/


#about{
	padding: 0;
	margin-bottom: 50px;
	font-weight: bold;
}

#aboutRow h2{
	color: #D738E2;
	font-size: 2em;
	font-weight: bolder;
	padding-bottom: 50px;
	padding-top: 50px;
}

#aboutRow p{
	color: #FFF;
	font-size: 1.1em;
	padding-bottom: 20px;
}

#aboutRow p a{
	color: #42DCA3;
	padding-bottom: 10px;
}

#blockPassions h4{
	color: #D738E2;
	font-weight: bolder;
	padding: 50px;
}


#blockPassions p{
	color: #D738E2;
	font-size: 1.1em;
	font-weight: bolder;
	padding-top: 50px;
	padding-bottom: 20px;
}

.blockImage{
	width: 136px;
	height: 136px;
	float: left;
}

.item{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}


#img1{
	background-image: url('../img/imgFooting.png');
	background-size: cover;
	background-position: center;
}

#img2{
	background-image: url('../img/1drink.JPG');
	background-size: cover;
	background-position: center;
}

#img3{
	background-image: url('../img/1pudong.JPG');
	background-size: cover;
	background-position: center-right;
}

#img4{
	background-image: url('../img/imgChess.jpeg');
	background-size: cover;
	background-position: center;
}

#img5{
	background-image: url('../img/imgEinsteinC215.jpeg');
	background-size: cover;
	background-position: center;
}

#img6{
	background-image: url('../img/1tiger.JPG');
	background-size: cover;
	background-position: center;
}

#img7{
	background-image: url('../img/imgLouvre.jpg');
	background-size: cover;
	background-position: center;
}

#img8{
	background-image: url('../img/imgBouddha.jpg');
	background-size: cover;
	background-position: center;
}

#img9{
	background-image: url('../img/imgTennis.jpeg');
	background-size: cover;
	background-position: center;
}

#img10{
	background-image: url('../img/imgSushis.jpeg');
	background-size: cover;
	background-position: center;
}

#img11{
	background-image: url('../img/1eye.JPG');
	background-size: cover;
	background-position: center;
}

#img12{
	background-image: url('../img/imgMagritte2.jpg');
	background-size: cover;
	background-position: center-bottom;
}

#img13{
	background-image: url('../img/imgPudongCity.jpg');
	background-size: cover;
	background-position: center;
}

#img14{
	background-image: url('../img/1skull.JPG');
	background-size: cover;
	background-position: center;
}

#img15{
	background-image: url('../img/imgTigerC215.jpeg');
	background-size: cover;
	background-position: center;
}

#img16{
	background-image: url('../img/imgMandala.jpg');
	background-size: cover;
	background-position: center;
}

#img17{
	background-image: url('../img/imgDelacroix.jpeg');
	background-size: cover;
	background-position: center;
}

#img18{
	background-image: url('../img/imgPuzzle.jpeg');
	background-size: cover;
	background-position: center;
}

#img19{
	background-image: url('../img/imgPetronasTowers.jpg');
	background-size: cover;
	background-position: center;
}

#img20{
	background-image: url('../img/imgBasket.jpg');
	background-size: cover;
	background-position: center;
}

#img21{
	background-image: url('../img/imgPoker.jpeg');
	background-size: cover;
	background-position: center;
}

#img22{
	background-image: url('../img/imgMagritte.jpeg');
	background-size: cover;
	background-position: center;
}

#img23{
	background-image: url('../img/imgPompidou.jpg');
	background-size: cover;
	background-position: center;
}

#img24{
	background-image: url('../img/imgPicasso.jpg');
	background-size: cover;
	background-position: center;
}

#img25{
	background-image: url('../img/imgNido.jpg');
	background-size: cover;
	background-position: center;
}

#img26{
	background-image: url('../img/imgRubiks1.jpg');
	background-size: cover;
	background-position: bottom;
}

#img27{
	background-image: url('../img/1dragoon.JPG');
	background-size: cover;
	background-position: left;
}
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                         FIN STYLE CSS                    ******/
/******                        SECTION A PROPOS                  ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/









/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                       DEBUT STYLE CSS                    ******/
/******                       SECTION CONTACT                    ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

#contact{
	padding-top: 0;
}

#contact h2{
	color: #D738E2;
	font-size: 2em;
	font-weight: bolder;
}

#contact p{
	font-size: 1.2em;
}

#contact label{
	margin: 20px auto;
}

#contact input{
	margin: 5px auto;
}

.pictoContact{
	color: #D738E2;
}

.btn-primary{
	margin-bottom: 20px;
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                         FIN STYLE CSS                    ******/
/******                       SECTION CONTACT                    ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/










/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                       DEBUT STYLE CSS                    ******/
/******                         SECTION MAP                      ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

#map{
	margin-top: 50px;
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                        FIN STYLE CSS                     ******/
/******                         SECTION MAP                      ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/











/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                        DEBUT STYLE CSS                   ******/
/******                             FOOTER                       ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

footer{
	height: 200px;
	/*background-image: url('../img/imgBackgroundFooter2.jpg');
	background-repeat: repeat-x;
	background-position: center;*/
}


#footerLinks ul{
	margin-top: 30px;
}

#footerLinks li{
	margin-bottom: 7px;
	display: block;
}

#footerLinks a{
	color: #D738E2;
	font-size: 1.1em;
	text-decoration: none;
	transition: 0.7s;
}

#footerLinks a:hover{
	color: #FFF;
}

#footerCopyright p{
	font-size: 1.3em;
	line-height: 200px;
}

#footerPictos{
	line-height: 200px;
}

#footerPictos a{
	margin-right: 15px;
}


/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                         FIN STYLE CSS                    ******/
/******                             FOOTER                       ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

/*****************************************************************************************************************/
/*****************************************************************************************************************/
/******                                                                                                     ******/
/******                                    FIN STYLE CSS du Site CV éric coudert                            ******/
/******                                                                                                     ******/
/*****************************************************************************************************************/
/*****************************************************************************************************************/


















/*****************************************************************************************************************/
/*****************************************************************************************************************/
/******                                                                                                     ******/
/******                               DEBUT STYLE CSS RESPONSIVE du Site CV éric coudert                    ******/
/******                                                                                                     ******/
/*****************************************************************************************************************/
/*****************************************************************************************************************/

/* début style css responsive XS */

@media (max-width: 393px){

	/* début style css nav */

	#linkConnexionAdmin:hover{
	color: #D738E2;
	}

	li{
		list-style-type: none;
		display: inline;
	}

	#navCenter .active{
		color: #D738E2;
	}

	#navCenter .active:hover{
		color: #FFF;
	}

	#navCenter li a{
		color: #FFF;
		font-weight: bold;
		transition: 0.7s;
	}

	#navCenter li a:hover{
		color: #FFF;
		background-color: #D738E2; 
	}

	/* fin style css nav */



	
	/* début style css "header" */

	#title{
		display: none;
	}

	#titleCenter h1{
		font-size: 1.3em;
		font-weight: bolder;
		color: #42DCA3;
	}

	#titleXs{
		display: block;
		font-size: 2em;
	}

	.junior{
		margin-top: 50px;
		margin-bottom: 20px;
	}

	#blockDate{
		margin: 20px auto;
	}


	/* fin style css "header" */








	/* début style css section "numérique" */

	#xpNum{
	padding: 0;
	/*background: none;*/
	}

	#imgRoots{
		height: 180px;
		background-image: url('../img/imgBackgroundUnderEarth.jpg');
		background-repeat: repeat-x;
	}

	#xpNum h2{
		color: #D738E2;
		font-size: 1.7em;
		font-weight: bolder;
		margin-bottom: 20px;
	}

	h3{
		color: #D738E2;
		font-size: 1.5em;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 25px;
	}

	#titreFormation{
		color: #42DCA3;
	}

	.col-md-3 .col-sm-6{
		float: left;
	}

	.download-section p{
		color: #FFF;
		font-size: 1.2em;
		margin: 15px auto;
	}

	#imgParallax{
		padding: 0 auto;
		background: none;
	}

	.service-item{
		color: transparent;
		background-color: transparent;
	}

	.formation{
		float: left;
	}

	.pictoCv{
		color: #FFF;
		background-color: transparent;
	}

	#picotFramework{
		margin-top: 100px;
	}

	.pictoStar{
		color: #42DCA3;
	}

	/* fin style css section "numérique" */




	/* début style css section "portfolio" */

	#portfolio{
		background-color: #FFF;
		font-weight: bold;
	}

	#portfolio h2{
		color: #D738E2;
		font-size: 1.5em;
		font-weight: bolder;
		margin-bottom: 50px;
	}

	#portfolio h3{
		color: #D738E2;
		font-size: 1.1em;
		font-weight: bolder;
		margin-bottom: 50px;
	}

	#portfolio h5{
		color: #000;
		margin-bottom: 15px;
	}

	.imgPortfolio1{
		width: 150px;
		height: 100px;
		margin-bottom: 15px;
		background-image: url('../img/imgMoon4.jpg');
		background-size: cover;
	}

	.imgPortfolio2{
		width: 150px;
		height: 100px;
		margin-bottom: 15px;
		background-image: url('../img/logomusicol.jpg');
		background-size: cover;
	}

	#blockPassions p{
		color: #D738E2;
	}

	/* fin style css section "portfolio" */






	/* début style css section "à propos" */

	#about{
	padding: 0;
	margin: 0 auto;
	}

	#aboutRow h2{
		color: #D738E2;
		font-size: 1.5em;
		padding-bottom: 50px;
		padding-top: 50px;
	}

	#aboutRow p{
		color: #FFF;
		font-size: 0.96em;
		padding-bottom: 20px;
	}

	#aboutRow p a{
		color: #42DCA3;
		padding-bottom: 10px;
	}
	
	.blockImage{
		width: 126px;
		height: 126px;
		float: left;
	}

	#img27{
		display: none;
	}

	/* fin style css section "à propos" */



	

	/* début style css section "contact" */

	#contact{
		padding-top: 0;
	}

	#contact h2{
		color: #D738E2;
		padding-bottom: 30px;
		font-size: 1.5em;
	}

	#contact p{
		padding-bottom: 20px;
		font-size: 0.9em;
	}

	#contact label{
		margin: 20px auto;
	}

	#contact input{
		margin: 5px auto;
	}

	.pictoContact{
		color: #D738E2;
	}

	/* fin style css section "contact" */




	/* début style css section "footer" */

	footer{
	height: 150px;
	}

	#footerLinks ul{
		margin-top: 20px;
	}

	#footerLinks li{
		margin-bottom: 5px;
		display: block;
	}

	#footerLinks a{
		color: #FFF;
		font-size: 0.9em;
		text-decoration: none;
		transition: 0.7s;
	}

	#footerLinks a:hover{
		color: #D738E2;
	}

	#footerCopyright p{
		line-height: 150px;
		font-size: 0.8em;
	}

	#footerPictos{
		line-height: 150px;
	}

	#footerPictos a{
		margin-right: 15px;
	}

	/* fin style css section "footer" */

}



@media (min-width: 393px) and (max-width: 480px){
	
	.blockImage{
		width: 130px;
		height: 130px;
		float: left;
	}

	#img27{
		display: block;
	}

}

/*******************************************/
/*******************************************/
/*      Fin style css responsive XS        */
/*******************************************/
/*******************************************/








/*******************************************/
/*******************************************/
/*      début style css responsive sm      */
/*******************************************/
/*******************************************/

@media screen and (min-width: 481px) and (max-width: 768px){


	/* début style css section header */	
	
	#titleXs{
		display: block;
	}

	#contact{
		padding: 0;
	}

	.content-section{
		padding: 0;
	}

    /* fin style css section header */







    /* début style css section numérique */	

	#contact{
		padding: 0;
	}

	.content-section{
		padding: 0;
	}

	.download-section{
		padding-top: 0px;
	}


    /* fin style css section numérique */






    /* début style css section portfolio */	
	
    .blockImage{
		width: 130px;
		height: 130px;
		float: left;
	}

    /* fin style css section portfolio */




	/* début style css section contact*/

	#contact{
		padding-top: 0;
	}


	#contact h2{
		color: #D738E2;
		font-size: 1.7em;
		padding-top: 0px;
		padding-bottom: 30px;
	}

	#contact p{
		margin: 20px auto;
	}

	/* fin style css section contact*/






	/* début style css section footer*/

	footer{
	height: 200px;
	}

	#footerLinks ul{
		margin-top: 30px;
	}

	#footerLinks li{
		margin-bottom: 7px;
		display: block;
	}

	#footerLinks a{
		color: #FFF;
		font-size: 1.3em;
		text-decoration: none;
		transition: 0.7s;
	}

	#footerLinks a:hover{
		color: #42DCA3;
	}

	#footerCopyright p{
		font-size: 1.3em;
		line-height: 200px;
	}

	#footerPictos{
		line-height: 200px;
	}

	#footerPictos a{
		margin-right: 15px;
	}

	/* fin style css section footer*/

}


/*******************************************/
/*******************************************/
 /*      Fin style css responsive sm       */
/*******************************************/
/*******************************************/







/*******************************************/
/*******************************************/
/*      début style css responsive md      */
/*******************************************/
/*******************************************/


@media screen and (min-width: 769px) and (max-width: 992px){

	/* début style css section header */	
	
	#titleXs{
		display: block;
	}

	#contact{
		padding-top: 0;
	}

    /* fin style css section header */






    /* début style css section numérique */	

	#contact{
		padding: 0;
	}

	.content-section{
		padding: 0;
	}

    /* fin style css section numérique */






    /* début style css section portfolio */	
	


    /* fin style css section portfolio */




	/* début style css section contact*/

	#contact{
		padding-top: 0;
	}


	#contact h2{
		color: #D738E2;
		font-size: 1.7em;
		padding-top: 0px;
		padding-bottom: 30px;
	}

	#contact p{
		margin: 20px auto;
	}

	/* fin style css section contact*/






	/* début style css section footer*/

	footer{
	height: 200px;
	}

	#footerLinks ul{
		margin-top: 30px;
	}

	#footerLinks li{
		margin-bottom: 7px;
		display: block;
	}

	#footerLinks a{
		color: #FFF;
		font-size: 1.3em;
		text-decoration: none;
		transition: 0.7s;
	}

	#footerLinks a:hover{
		color: #42DCA3;
	}

	#footerCopyright p{
		font-size: 1.3em;
		line-height: 200px;
	}

	#footerPictos{
		line-height: 200px;
	}

	#footerPictos a{
		margin-right: 15px;
	}

	/* fin style css section footer*/

}

/*******************************************/
/*******************************************/
/*       Fin style css responsive md       */
/*******************************************/
/*******************************************/






/*******************************************/
/*******************************************/
/*      début style css responsive lg      */
/*******************************************/
/*******************************************/

@media screen and (min-width: 993px){

	/* début style css section header */	
	

	#titleXs{
		display: none;
	}

    /* fin style css section header */






    /* début style css section numérique */	

	#contact{
		padding: 0;
	}

	.content-section{
		padding: 0;
	}

    /* fin style css section numérique */






    /* début style css section portfolio */	
	
    #portfolio{
    	background-color: transparent;
    }

    /* fin style css section portfolio */




	/* début style css section contact*/

	#contact{
		padding-top: 0;
	}


	#contact h2{
		color: #D738E2;
		font-size: 2em;
		padding-top: 0px;
		padding-bottom: 30px;
	}

	#contact p{
		margin: 20px auto;
	}

	/* fin style css section contact*/






	/* début style css section footer*/

	footer{
	height: 200px;
	}

	#footerLinks ul{
		margin-top: 30px;
	}

	#footerLinks li{
		margin-bottom: 7px;
		display: block;
	}

	#footerLinks a{
		color: #D738E2;
		font-size: 1.1em;
		text-decoration: none;
		transition: 0.7s;
	}

	#footerLinks a:hover{
		color: #FFF;
	}

	#footerCopyright p{
		font-size: 1.1em;
		line-height: 200px;
	}

	#footerPictos{
		line-height: 200px;
	}

	#footerPictos a{
		margin-right: 15px;
	}

	/* fin style css section footer*/

}

/*******************************************/
/*******************************************/
/*       Fin style css responsive lg       */
/*******************************************/
/*******************************************/



/*****************************************************************************************************************/
/*****************************************************************************************************************/
/******                                                                                                     ******/
/******                                 FIN STYLE CSS RESPONSIVE du Site CV éric coudert                    ******/
/******                                                                                                     ******/
/*****************************************************************************************************************/
/*****************************************************************************************************************/