@charset "UTF-8";

/***************************************/
/******                           ******/
/******         RESET CSS         ******/
/******                           ******/
/***************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************************************************************************************/
/*****************************************************************************************************************/
/******                                                                                                     ******/
/******                                  DEBUT STYLE CSS du Site CV éric coudert                            ******/
/******                                                                                                     ******/
/*****************************************************************************************************************/
/*****************************************************************************************************************/

body{
	font-family: 'Play', sans-serif;
}

/***************************************/
/******    FIN STYLE CLEARFIX     ******/
/***************************************/

.phantom{
	clear: both;
}

/***************************************/
/*****       STYLE CLEARFIX       ******/
/***************************************/


/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                  DEBUT STYLE CSS HEADER                  ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/



/***************************************/
/*****                            ******/
/*****       DEBUT STYLE CSS      ******/
/*****        BOUTON ADMIN        ******/
/*****                            ******/
/***************************************/

#linkConnexionAdmin a{
	transition: 0.7s;
}

#linkConnexionAdmin a:hover{
	color: #D738E2;
}

.btnAdmin{
	color: #D738E2;
}

/***************************************/
/*****                            ******/
/*****        FIN STYLE CSS       ******/
/*****         BOUTON ADMIN       ******/
/*****                            ******/
/***************************************/






/***************************************/
/*****                            ******/
/*****       DEBUT STYLE NAV      ******/
/*****                            ******/
/***************************************/

#linkConnexionAdmin:hover{
	color: #D738E2;
}

li{
	list-style-type: none;
	display: inline;
}

#navCenter .active{
	color: #D738E2;
}

#navCenter li a{
	font-weight: bold;
	transition: 0.7s;
}

#navCenter li a:hover{
	color: #D738E2;
}

/***************************************/
/*****                            ******/
/*****         FIN STYLE NAV      ******/
/*****                            ******/
/***************************************/





/***************************************/
/*****                            ******/
/*****       DEBUT STYLE CSS      ******/
/*****          DU TITRE          ******/
/*****        ERIC COUDERT        ******/
/*****        INTEGRATEUR         ******/
/*****        DEVELOPPEUR         ******/
/*****           junior           ******/
/*****                            ******/
/***************************************/


#titleBlock{
	padding-bottom: 100px;
}

#titleCenter{
	margin-left: 0px;
}

#titleXs{
	width: 200px;
	height: 50px;
	margin: 0 auto;
}

h1{
	font-size: 0.96em;
	/*font-weight: bold;*/
	margin-bottom: 25px;
}

#title{
	width: 700px;
	height: 200px;
	font-size: 1.1em;
	margin: 0 auto;
}

#titleContainer{
	margin-bottom: 100px;
}

.titleContent1{
	width: 555px;
	height: 60px;
	margin-left: 80px;
	margin-bottom: 5px;
}

.titleContent2{
	width: 555px;
	height: 60px;
	margin-left: 80px;
	margin-bottom: 5px;
}

.titleContent3{
	width: 555px;
	height: 60px;
	margin-left: 80px;
}


.black{
	width: 48px;
	height: 48px;
	/*border: 1px solid #000;*/
	transition: 0.2s linear;
	float: left;
	text-align: center;
	line-height: 48px;
}

.black:hover{
	width: 50px;
	height: 50px;
	background-color: #D738E2;
	border-radius: 25px;
}

.blackOut{
	width: 48px;
	height: 48px;
	/*border: 1px solid #000;*/
	/*background-color: #000;*/
	transition: 0.2s linear;
	float: left;
	text-align: center;
	line-height: 48px;
	color: #FFF;
}

#black{
	width: 48px;
	height: 48px;
	/*border: 1px solid #000;*/
	/*background-color: #000;*/
	transition: 0.2s linear;
	float: left;
	text-align: center;
	line-height: 48px;
	color: #FFF;
}

#black:hover{
	width: 50px;
	height: 50px;
	background-color: #D738E2;
	border-radius: 25px;
}

#white{
	width: 48px;
	height: 48px;
	/*border: 1px solid #000;*/
	/*background-color: #000;*/
	float: left;
	text-align: center;
	line-height: 48px;
	color: #FFF;
}

.junior{
	color: #42DCA3;
	text-align: center;
	margin-bottom: 155px;
	opacity: 0.7;
}

#btnFleche{
	color: #D738E2;
}

#pictoCircle{
	transition: 0.6s;
}

#pictoCircle:hover{
	border-color: #D738E2;
	color: #D738E2;
}

/***************************************/
/*****                            ******/
/*****       FIN STYLE CSS        ******/
/*****          DU TITRE          ******/
/*****        ERIC COUDERT        ******/
/*****        INTEGRATEUR         ******/
/*****        DEVELOPPEUR         ******/
/*****           junior           ******/
/*****                            ******/
/***************************************/

#headerBackground{
	background-image: url('../img/imgMoon4.jpg');
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                    FIN STYLE CSS HEADER                  ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/










/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                       DEBUT STYLE CSS                    ******/
/******                   SECTION COMPETENCES NUM                ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

#xpNum{
	padding: 0;
}

#xpNum h2{
	color: #FFF;
	font-size: 1.5em;
	margin-bottom: 50px;
}

h3{
	color: #D738E2;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 25px;
}

#titreFormation{
	color: #42DCA3;
}

.col-md-3 .col-sm-6{
	float: left;
}

.download-section p{
	color: #FFF;
	font-size: 1.2em;
	margin: 20px auto;
}

#imgParallax{
	color: #FFF;
	background-image: none;
	background-color: #000;
/*	background-color: -webkit-linear-gradient(to bottom, #777, #999, #AAA, #CCC, #EEE);*/
}

.formation{
	float: left;
}

.pictoCv{
	color: #FFF;
	background-color: #000;
}

.pictoStar{
	color: #FFF;
}

#circle{
	background-color: #000;
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                         FIN STYLE CSS                    ******/
/******                   SECTION COMPETENCES NUM                ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/










/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                       DEBUT STYLE CSS                    ******/
/******                      SECTION PORTFOLIO                   ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

.containerImage{
	margin: 0 auto;
}

.imgPortfolio{
	width: 200px;
	height: 200px;
	float: left;
}

#imgPortfolio1{
	background-image: url('../img/1eye.JPG');
	background-size: cover;
	background-position: center;
}

#imgPortfolio2{
	background-image: url('../img/1portrait.JPG');
	background-size: cover;
	background-position: center;
}

#imgPortfolio3{
	background-image: url('../img/1lips.JPG');
	background-size: cover;
	background-position: center;
}

#imgPortfolio4{
	background-image: url('../img/1tiger.JPG');
	background-size: cover;
	background-position: center;
}

#imgPortfolio5{
	background-image: url('../img/1drink.JPG');
	background-size: cover;
	background-position: center;
}

#imgPortfolio6{
	background-image: url('../img/1skull.JPG');
	background-size: cover;
	background-position: center;
}



/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                         FIN STYLE CSS                    ******/
/******                      SECTION PORTFOLIO                   ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/









/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                       DEBUT STYLE CSS                    ******/
/******                       SECTION A PROPOS                   ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/


#about{
	padding: 0;
	margin: 100px auto;
	font-size: 1.3em;
	font-weight: bolder;
	border: 1px solid #D738E2;
}

#aboutRow{
	padding: 20px 0px 20px 0px;
	/*border: 1px solid #D738E2;*/
}

#aboutRow h2{
	color: #FFF;
	padding-bottom: 50px;
	padding-top: 50px;
}

#aboutRow p{
	color: #FFF;
	padding-bottom: 5px;
}

#aboutRow p a{
	color: #D738E2;
	padding-bottom: 10px;
}

.parallax-window{
    min-height: 400px;
    background: transparent;
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                         FIN STYLE CSS                    ******/
/******                        SECTION A PROPOS                  ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/









/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                       DEBUT STYLE CSS                    ******/
/******                       SECTION CONTACT                    ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

#contact h2{
	font-size: 1.2em;
	margin-bottom: 50px;
}

p{
	margin-bottom: 20px;
}

#contact{
	padding: 0;
}

/*#contact p{
	margin: 20px auto;
}*/

#contact label{
	margin: 10px auto;
}

#contact input{
	margin: 5px auto;
}

.pictoContact{
	color: #D738E2;
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                         FIN STYLE CSS                    ******/
/******                       SECTION CONTACT                    ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/










/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                       DEBUT STYLE CSS                    ******/
/******                         SECTION MAP                      ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

#map{
	margin-top: 50px;
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                        FIN STYLE CSS                     ******/
/******                         SECTION MAP                      ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/











/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                        DEBUT STYLE CSS                   ******/
/******                             FOOTER                       ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

footer{
	height: 100px;
}

footer p{
	line-height: 100px;
}

/**********************************************************************/
/**********************************************************************/
/******                                                          ******/
/******                         FIN STYLE CSS                    ******/
/******                             FOOTER                       ******/
/******                                                          ******/
/**********************************************************************/
/**********************************************************************/

/*****************************************************************************************************************/
/*****************************************************************************************************************/
/******                                                                                                     ******/
/******                                    FIN STYLE CSS du Site CV éric coudert                            ******/
/******                                                                                                     ******/
/*****************************************************************************************************************/
/*****************************************************************************************************************/









/*****************************************************************************************************************/
/*****************************************************************************************************************/
/******                                                                                                     ******/
/******                               DEBUT STYLE CSS RESPONSIVE du Site CV éric coudert                    ******/
/******                                                                                                     ******/
/*****************************************************************************************************************/
/*****************************************************************************************************************/

@media (max-width: 480px){
	#title{
		display: none;
	}

	.junior{
		margin-bottom: 50px;
	}

}


@media screen and (min-width: 481px){
	#titleXs{
		display: none;
	}
}
/*****************************************************************************************************************/
/*****************************************************************************************************************/
/******                                                                                                     ******/
/******                                 FIN STYLE CSS RESPONSIVE du Site CV éric coudert                    ******/
/******                                                                                                     ******/
/*****************************************************************************************************************/
/*****************************************************************************************************************/