@charset "UTF-8";

body {
  width: auto!important;
  margin-left: 0!important;
  background-color: #fff!important;
  color: #000!important;
  font: 10pt "Times New Roman", Times, serif;
}

p, h1, h2, h3, h4, h5, h6{
  color: #000!important;
  margin: 0 auto!important;
}


/* pas de ligne seule en bas */
/* pas de ligne seule en haut */
p, blockquote {
  orphans: 3; 
  widows: 3; 
}


/* pas de coupure dans ces Ã©lements */
blockquote, ul, ol {
  page-break-inside: avoid; 
}


/* pas de saut aprÃ¨s ces Ã©lÃ©ments */
h1, h2, h3, caption {
	text-align: center;
  	/*page-break-after: avoid;*/ 
}

a {
  color: #000!important;
  text-decoration: underline!important;
}

a[href]:after {
  content: " (" attr(href) ")"; /* affichage des URL des liens */
}



/*****************************************************************/
/****************         Mon style Print       ******************/
/*****************************************************************/


img{
  display: none;
}

#headerBackground{
  height: 2cm;
  padding: 0px;
  margin-top: 25px;
}

#titleCenter h1{
  font-size: 1.7em;
  margin-top: 0px;
  margin-bottom: 0px;
}

#title{
  height: 100px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#titleContainer{
  padding-bottom: 0px;
}

#titleBlock{
  padding-bottom: 0px;
}

.junior{
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}



/*************************************************/

#xpNum{
  height: 0cm;
}


#xxx{
  height: 2cm;
  padding: 0cm;
  margin-top: 0cm;
}


/*************************************************/

#portfolio{
  height: 2cm;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


/*************************************************/


#about{
  height: 5cm;
}

.row .rowPrint{
  height: 2cm;
}


/*************************************************/


#contact{
  height: 3cm;
}












