@charset "UTF-8";

/***************************************/
/***************************************/
/************** RESET CSS **************/
/***************************************/
/***************************************/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*/



/***************************************/
/***************************************/
/*********** STYLE BODY CSS ************/
/***************************************/
/***************************************/


body{
	background-color: #CCC;
	background-image: url('../img/imgParallax3.jpg');
	background-size: cover;
}



/***************************************/
/*********   STYLE CLEARFIX   **********/
/***************************************/

.phantom{
	clear: both;
}

/***************************************************************/
/***************************************************************/
/***************                                ****************/
/***************        STYLE CSS ADMIN         ****************/
/***************                                ****************/
/***************************************************************/
/***************************************************************/


h1{
	margin: 0 auto;
	color: #D738E2;
	text-align: center;
	
}

nav{
	margin: 0 auto;
	height: 100px;
	text-align: center;
	background-color: #000;

}

nav li{
	margin-left: 10px;
	list-style-type: none;
	line-height: 100px;
	display: inline;
}

nav li a{
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	color: #FFF;
	transition: 0.5s;
}

nav li a:hover{
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	color: #D738E2;
}

p{
	color: #FFF;
	font-size: 1.3em;
	text-align: center;
	font-weight: bolder;
}

form{
	width: 600px;
	margin: 10px auto;
	text-align: center;
	opacity: 0.92;
}

table{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	background-color: #777;
	border: 1px solid #FFF;
	border-radius: 4px;
	opacity: 0.92;
}

thead{
	background-color: #D738E2;
}

td{
	font-weight: bold;
	border: 1px solid #FFF;
}

label{
	margin-top: 10px;
}

input{
	margin-top: 10px;
}


input{
	margin-bottom: 20px;
}

textarea{
	resize: none;
}


#profil{
	width: 400px;
	height: 160px;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
	font-size: 1.2em;
	border: 1px solid #FFF;
}








